#header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#909090;
    z-index:5;
    padding-left:5%;
}
#header input {
    margin:4px 5px 5px;
    width:30%;
}

.item {
    z-index:1;
    float:left;
    padding:5px 0;
}
.item .item_text {
    display:none;
}
.item:hover .item_text {
    padding:5px;
    margin-right:5px;
    background-color:#909090;
    opacity: .8;
    display:block;
    position:absolute;
    top:10%;
}
.item a {
    text-decoration: none;
    color:white;
}

#load_container {
    display:none;
}
#status {
    width:200px;
    margin:0 auto;
}